{{define "map/map_info.html"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="/static/css/font.css">
    </head>
    <body>
{{/*{{range .}}*/}}
{{/*    {{.map1.Name}}*/}}
{{/*    {{.map1.Age}}*/}}
{{/*    {{.map1.Url}}*/}}
{{/*<br>*/}}
{{/*{{.map2.Name}}*/}}
{{/*{{.map2.Age}}*/}}
{{/*{{.map2.Url}}*/}}
{{/*    {{end}}*/}}
    {{.user1.Id}}
    {{.user1.Name}}
    {{.user1.Age}}
<br>
    {{.user2.Id}}
    {{.user2.Name}}
    {{.user2.Age}}
    </body>
    </html>
{{end}}}